.indices/
genai3/
.DS_Store
__pycache__/
.ipynb_checkpoints/
.env
.vscode/
*.db
database/
*.pdf
learn-langgraph/10_chatbot_w_observability/backend_test.py
learn-langgraph/10_chatbot_w_observability/frontend_test.py
learn-langgraph/09_langsmith/islr.pdf
learn-langgraph/13_chatbot_w_rag/islr.pdf
bucket_list.txt
docchat/
