.indices/
genai3/
.DS_Store
__pycache__/
.ipynb_checkpoints/
.env
.vscode/
*.db
database/
learn-langgraph/10_chatbot_w_observability/backend_test.py
learn-langgraph/10_chatbot_w_observability/frontend_test.py
learn-langgraph/09_langsmith/islr.pdf